<header class="navigation" role="header">
  <div class="navigation-wrapper">
    <h1>
      <%= link_to image_tag('logo.png', alt: 'Regras dos 15!'), root_path, class: 'logo' %>
    </h1>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <!--div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </div-->

    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Digite sua busca" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </div>
      </div>

      <a href="javascript:void(0)" class="sign-up">Logar</a>

    </div>
  </div>
</header>
